<div class="container">

    <div class="row">
        <div class="col">
           <center><span><img src="./img/logo1.png" alt="100%X400"></span></center> 
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="./img/ambar.jpg" alt="100%X400">
                <div class="caption">
                <h3>{{vm.productos[0].nombreProducto}}</h3>
                <p>Code: {{vm.productos[0].id}}</p>
                <p>Price: Q{{vm.productos[0].costo}}</p>
                <p><a href="#" class="btn btn-danger" role="button">Buy</a> <a class="btn btn-default" role="button" ng-click="vm.selectedProduct(vm.productos[0].id)">Details</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="./img/rexonaMen.jpg" alt="100%X400">
                <div class="caption">
                <h3>{{vm.productos[1].nombreProducto}}</h3>
                <p>Code: {{vm.productos[1].id}}</p>
                <p>Price: Q{{vm.productos[1].costo}}</p>
                <p><a href="#" class="btn btn-danger" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Details</a></p>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="./img/cherry.jpg" alt="100%X400">
                <div class="caption">
                <h3>{{vm.productos[2].nombreProducto}}</h3>
                <p>Code: {{vm.productos[2].id}}</p>
                <p>Price: Q{{vm.productos[2].costo}}</p>
                <p><a href="#" class="btn btn-danger" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Details</a></p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="./img/coca.jpg" alt="100%X400">
                    <div class="caption">
                    <h3>{{vm.productos[3].nombreProducto}}</h3>
                    <p>Code: {{vm.productos[3].id}}</p>
                    <p>Price: Q{{vm.productos[3].costo}}</p>
                    <p><a href="#" class="btn btn-danger" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Details</a></p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="./img/duracelAAA.jpg" alt="100%X400">
                    <div class="caption">
                    <h3>{{vm.productos[4].nombreProducto}}</h3>
                    <p>Code: {{vm.productos[4].id}}</p>
                    <p>Price: Q{{vm.productos[4].costo}}</p>
                    <p><a href="#" class="btn btn-danger" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Details</a></p>
                    </div>
                </div>
            </div>
    
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="./img/blueIce.jpg" alt="100%X400">
                    <div class="caption">
                    <h3>{{vm.productos[5].nombreProducto}}</h3>
                    <p>Code: {{vm.productos[5].id}}</p>
                    <p>Price: Q{{vm.productos[5].costo}}</p>
                    <p><a href="#" class="btn btn-danger" role="button">Buy</a> <a href="#" class="btn btn-default" role="button">Details</a></p>
                    </div>
                </div>
            </div>
    
        </div>

    <center><label for="details"><h1>Detalle de producto</h1></label></center>
    <div class="container">
        <div class="row">
            <form class="form-vertical" role="form">
                    <div class="row">
                        <div class="col-md-3 borde size1">
                                <div class="row borde">
                                        <img src="./img/ambar.jpg" alt="50%X100" ng-click="vm.imagenes()">
                                </div>
                                <div class="row borde">
                                        <img src="./img/ambarLogo.jpg" alt="50%X100" ng-click="vm.imagenes()">
                                </div>
                                <div class="row borde">
                                    <img src="./img/ambar1.jpg" alt="50%X100"" ng-click="vm.imagenes()">
                                </div>
                        </div>
                        <div class="col-md-4 borde size2">
                            <img src="{{vm.imagen}" alt="100%">
                        </div>
                        <div class="col-md-5 borde size3">
                            <div class="row">
                                <h3>Code: <h4>{{vm.selectedItem.id}}</h4></h3>
                            </div>
                            <div class="row">
                                <h3>Producto: <h4>{{vm.selectedItem.nombreProducto}}</h4></h3>
                            </div>
                            <div class="row">
                                <h3>Descripcion: <h4>{{vm.selectedItem.descripcion}}</h4></h3>
                            </div>
                            <div class="row">
                                <h3>Fecha Caducidad: <h4>{{vm.selectedItem.caducidad}}</h4></h3>
                            </div>

                        </div>

                    </div>
            </form>
            
        </div>
    </div>

    </br>
    </br>   

</div>